/* ヘッダー部分 */

.header__logo {
  background-image: url("../images/banner-1571858_1920.jpg");
  background-size: cover;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
  position: fixed;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}

.header__logo-title{
  width: 50%;
  margin-left: 15px;
  font-size: 33px;
}

.header__logo-title a{
  text-decoration: none;
  color: #333;
}

.header__gnav{
  width: 50%;
  font-size: 23px;
  text-decoration: none;
}

.header__gnav ul{
  display: flex;
  justify-content: space-around;
}

.header__gnav-item a{
  list-style: none;
  text-decoration: none;
  color: #333;
}

/* ヘッダー部分ここまで */

/* 自己紹介 */

/* .myself-img{
  position: absolute;
  top: 300px;
  left: 150px;
  width: 350px;
  height: 350px;
  border-style: none;
  z-index: 1;
} */

.firstview__main{
  position: relative;
  z-index: 2;
}

.firstview__main-pict{
  position: relative;
}

.back-img{
  background-size: cover;
  width: 100%;
  height: 50%;
  margin-top: 70px;
}

.firstview__info{
  position: absolute;
  top: 350px;
  left:150px;
}

.firstview__info-name{
  font-size: 50px;
  color: #100f0f;
}

.firstview__info-name-sm{
  font-size: 25px;
  color: #100f0f;
}

.firstview__info-origin-list{
  font-size: 20px;
  color: #100f0f;
}

.firstview__info-origin-item a{
  text-decoration: none;
  font-size: 20px;
  color: #100f0f;
}

.firstview__point{
  text-align: center;
  font-size: 20px;
  margin: 50px 400px 50px 400px;
}

.firstview__point-item{
  text-align: center;
}

.section-inner{
  text-align: center;
  font-size: 16px;
}

.skill{
  background-color: #ececec;
  padding: 10px 0;
}

.skill__item p {
  font-size: 14px;
}

.skill__text-area{
  margin: 0 30px;
  text-align: center;
}

.heading{
  padding-top: 80px;
}

.profile__text-area{
  margin: 10px 300px 10px 300px;
  padding-bottom: 30px;
  text-align: start;
}

.works{
  padding: 20px 0;
}

.works__list{

}

.heading{
  text-align: center;
}

.works__item-pict{

}

.works__item-pict img{
  width: 30%;
  height: auto;
}

.works__item-text-block p{
  font-size: 12px;
}

.works-btn{
  margin-top: 20px;
  margin-bottom: 40px;
}

.works-btn a{
  padding: 10px 40px;
  text-decoration: none;
}

/* Moreボタンの設定 */

a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}
a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}


/* フッター */
.footer{
  background-color: #070c40;
  width: 100%;
  height: 60px;
  font-size: 15px;
  color: #fff;
  text-align: center;
}

footer p{
  padding-top: 20px;
}








/* タブレット表示時 */
@media (max-width: 1024px){

  /* ヘッダー部分 */
  
  
  .header__logo-title{
    width: 50%;
    margin-left: 15px;
    font-size: 30px;
  }
  
  
  .header__gnav{
    width: 50%;
    font-size: 22px;
    text-decoration: none;
  }
  
  /* ヘッダー部分ここまで */
  
  /* 自己紹介 */
  
  .firstview__info{
    position: absolute;
    top: 250px;
    left: 100px;
  }
  
  .firstview__info-name{
    font-size: 45px;
    color: #100f0f;
  }
  
  .firstview__info-name-sm{
    font-size: 28px;
    color: #100f0f;
  }
  
  .firstview__info-origin-list{
    font-size: 28px;
    color: #100f0f;
  }
  
  .firstview__info-origin-item a{
    text-decoration: none;
    font-size: 28px;
    color: #100f0f;
  }
  
  .firstview__point{
    text-align: center;
    font-size: 20px;
    margin: 50px 50px 50px 50px;
  }
  
  
  .section-inner{
    text-align: center;
    font-size: 18px;
  }
  
  .skill{
    background-color: #ececec;
    padding: 10px 0;
  }
  
  .skill__item p {
    font-size: 16px;
  }
  
  
  .profile__text-area{
    margin: 10px 30px 10px 30px;
    padding: 30px 30px 30px 30px;
    text-align: start;
  }
  
  
  .works__item-pict img{
    width: 40%;
    height: auto;
  }
  
  .works__item-text-block p{
    font-size: 15px;
  }

}


/* スマホ表示時 */
@media (max-width: 400px){

  /* ヘッダー部分 */


  .header__logo-title{
    width: 50%;
    margin-left: 15px;
    font-size: 16px;
  }


  .header__gnav{
    width: 50%;
    font-size: 10px;
    text-decoration: none;
  }

  /* ヘッダー部分ここまで */

  /* 自己紹介 */

  .firstview__info{
    position: absolute;
    top: 127px;
    left:25px;
  }

  .firstview__info-name{
    font-size: 18px;
    color: #100f0f;
  }

  .firstview__info-name-sm{
    font-size: 12px;
    color: #100f0f;
  }

  .firstview__info-origin-list{
    font-size: 12px;
    color: #100f0f;
  }

  .firstview__info-origin-item a{
    text-decoration: none;
    font-size: 12px;
    color: #100f0f;
  }

  .firstview__point{
    text-align: center;
    font-size: 12px;
    margin: 50px 20px 50px 20px;
  }


  .section-inner{
    text-align: center;
    font-size: 12px;
  }

  .skill{
    background-color: #ececec;
    padding: 10px 0;
  }

  .skill__item p {
    font-size: 12px;
  }


  .profile__text-area{
    margin: 10px 20px 10px 20px;
    padding: 30px 30px 30px 30px;
    text-align: start;
  }


  .works__item-pict img{
    width: 45%;
    height: auto;
  }

  .works__item-text-block p{
    font-size: 10px;
  }

}
